.invisible {
    display: none;
}


header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
    background-color: inherit;
}

nav {
    height: 80px;
}

nav .brand-logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left:0;
}

#messageForm {
    height: 100px;
}

#messages {
    height: calc(100vh - 250px);
    overflow:auto;
}