/**
 * Created by Lyze on 03.05.2016.
 */
<main>
<div class="slide slide1">
    <h1>Examples</h1>
    <p>You can run these examples right in your browser (experimental).</p>
<p>Just enter your login details below:</p>
</div>
<div class="banner">
    <input placeholder="email" type="email" id="email">
    <input placeholder="password" type="password" id="password">
    </div>
    <div class="slide slide_1">
    <div class="column-wrap">
    <div class="column">
    <h1>Ping-Pong</h1>
    <p>A simple example, if you send ping to any of the channels the logged-in client has access to, it will reply 'pong!'</p>
<div class="startButton" onclick="toggleStateOfPingPong()" id="pingpongbutton">RUN</div>
    </div>
    <div class="column">
    <div class="outputConsole" id="pingpongoutput">

    </div>
    </div>
    </div>
    </div>
    <script>
var classes = document.getElementsByClassName("outputConsole");

var pingPongRunning = false, pingPongClient;

function getEmail(){
    if(document.getElementById("email").value)
        return document.getElementById("email").value;
    else
        return prompt("Email?")
}

function getPassword(){
    if(document.getElementById("password").value)
        return document.getElementById("password").value;
    else
        return prompt("Password?")
}

function toggleStateOfPingPong(){
    if(pingPongRunning){
        pingPongClient.logout();
        pingPongClient = null;
        document.getElementById("pingpongoutput").innerHTML = "Client terminated...";
        pingPongRunning = false;
        document.getElementById("pingpongbutton").innerHTML = "RUN";
        document.getElementById("pingpongbutton").className = "startButton";
    }else{
        document.getElementById("pingpongoutput").innerHTML = "";
        startPingPong();
        pingPongRunning = true;
        document.getElementById("pingpongbutton").innerHTML = "STOP";
        document.getElementById("pingpongbutton").className = "stopButton";
    }
}

function startPingPong(){

    function output(t){
        document.getElementById("pingpongoutput").innerHTML += "> "+t+"<br/>"
    }

    function error(e){
        output(e + " - <i><u>are you sure your credentials are correct?</u></i>");
    }

    pingPongClient = new Discord.Client();

    pingPongClient.once("ready", function(){
        output("ready! send the message <u><i>ping</i></u> in any of the following servers:");
        for(var sid in pingPongClient.servers){
            output("<span class='light'> " + pingPongClient.servers[sid].name + "</span>");
        }
    });

    pingPongClient.on("message", function(msg){

        if(msg.content === "ping"){
            this.reply(msg, "pong!");
            output("pong'd <b>" + msg.sender.username+"</b>");
        }

    });



    pingPongClient.login(getEmail(), getPassword()).catch(error);
    output("logging in...");

}

var fn = function(){
    this.innerHTML = "";
}

for(var i = 0; i < classes.length; i++){
    classes[i].addEventListener("dblclick", fn, false);
}
</script>
</main>